/node_modules
/public/hot
/public/storage
/storage
/vendor
/phpmyadmin
/.vagrant
Vagrantfile
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/.vscode
composer.lock
/mysql_backup
mythoshop.code-workspace
package-lock.json
yarn.lock
boutique.mwb.bak
boutique.mwb
.env.example
public/css/app.sync-conflict-20200430-192840-YLFD3RG.css
public/js/app.sync-conflict-20200430-204528-YLFD3RG.js
public/mix-manifest.sync-conflict-20200430-192840-YLFD3RG.json
postgres_backup
database/seeds/users.sql
/__WORKBENCH
