@use '../commons/variables' as var;

// products by category
.products--presentation {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    align-items: start;
    justify-items: center;

    grid-auto-flow: dense;

    &.categorie--presentation {
        figcaption {
            justify-content: center;

            > * {
                flex: 0 1 auto;
            }
        }
    }
}

// single product
.product {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4rem;

    .product__presentation {
        grid-column: 1 / span 1;

        > * {
            margin-bottom: 1rem;
        }

        .origin {
            margin-bottom: 1.2rem;
        }

        .description_label {
            margin-bottom: 0.5rem;
        }
        .description {
            text-indent: 5rem;
            text-align: justify;
        }
    }

    .product__toCart {
        grid-column: 2 / span 1;

        img {
            margin: 0 auto;
            max-width: 100%;
            border-radius: 2rem;
        }

        .price {
            margin: 2rem 0;
            width: 100%;
            text-align: center;
            font-size: 1.2em;
        }

        .cart__update--product {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;

            .quantity {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                width: 80%;

                label {
                    margin-right: 1rem;
                }

                input {
                    max-width: 10rem;
                    min-width: 2rem;
                    text-align: center;
                }
            }

            #updateItem {
                flex: 0 0 0;
                max-width: 0;
                max-height: 0;
                min-width: 0;
                min-height: 0;
                padding: 0;
                margin: 0;
                border: none;
            }

            .cartPlusIcon {
                flex: 1 1 100%;
                height: 2.9rem;
                margin: 0 1rem;
            }
        }

        .maxQuantity {
            width: 100%;
            margin-top: 0.5rem;
            color: rgba(145, 5, 5, 0.719);
        }
    }
}
