.mandatory {
    &::after {
        content: '*';
        color: red;
        font-size: 0.9em;
    }
}

.login--container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;

    width: 100%;

    > * {
        flex: 1 0 35rem;

        padding: 2rem;
        border: 0.2rem solid;
        border-radius: 1rem;
    }

    .login--form {
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 2rem;
        margin-right: 2rem;

        > * {
            margin-top: 0.2rem;
        }

        > label:nth-of-type(n + 2) {
            margin-top: 1rem;
        }

        .button {
            margin-top: 1.5rem;
            padding: 1rem 2rem;
        }
    }

    .noAccount {
        display: flex;
        flex-flow: column nowrap;

        a {
            align-self: center;
            width: max-content;
            padding: 1.5rem 2rem;
            margin-top: 2rem;
        }
    }
}

.registration--container {
    .registration__form {
        width: 100%;
        padding: 2rem 3rem;
        border: 0.2rem solid;
        border-radius: 1rem;

        gap: 1rem;
        overflow: hidden;

        display: grid;

        grid-template-columns: repeat(2, 1fr);

        > * {
            grid-column: span 1;

            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: flex-start;
            min-width: 0;

            > label {
                flex: 0 0 auto;
                margin-right: 1rem;
            }

            > input {
                flex: 1 0 0;
                min-width: 0;
            }

            > small {
                flex: 1 0 100%;
                color: red;
            }
        }

        .phone {
            max-width: 30rem;
        }

        .email {
            grid-column: span 2;
        }

        [class^='password'] {
            grid-column: span 2;
        }

        .editSubmit {
            grid-column: span 2;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            > * {
                flex: 0 0 45%;
                text-align: center;
            }
        }
    }
}

.user__createAddresse {
    width: 100%;
    .createAddresse__form {
        width: auto;
        max-width: 80rem;
        margin: 0 auto;

        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: start;
        //justify-items: start;

        gap: 2rem;

        > div {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: flex-start;
            min-width: 0;

            > label {
                flex: 0 0 auto;
                margin-right: 1rem;
            }

            > input {
                flex: 1 0 0;
                min-width: 0;
            }

            > small {
                flex: 1 0 100%;
                color: red;
            }
        }

        .name {
            grid-column: 1 / span 2;
            justify-self: center;
        }

        .number,
        .postcode {
            grid-column: 1 / span 1;
        }

        .town,
        .street {
            grid-column: 2 / span 1;
        }

        .submit {
            grid-column: 1 / span 2;
            margin-top: 2rem;
            justify-self: center;
            padding: 1rem 2.5rem;
        }
    }
}
